Question 1
Consider the following Python module:

a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [22]:
a = 0   #a is assigned 0  

def b():         #defining function b
 global a      #declaring a as global variable for values in function b
 a = c(a)  

def c(a):          # defining c funtion and 
 return a + 2

In [23]:
b()

In [24]:
b()

In [25]:
b()

In [26]:
print(a)

6

Question 2 : Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [80]:
def file_len(f):
    try:
        file = open(f, "r")
        contents=file.read()
        print('Given file length is : '+str(len(contents)))
        file.close()
    except:
            print('File '+f+' not found')

In [81]:
file_len("filelength.txt")

Given file length is : 123

In [86]:

file_len("filelength.py")

File filelength.py not found

Question 3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [27]:
class Marsupial:                        #Marsupial parent class
    
    def __init__(self,x,y):             #defining constructor to take input x and y variables of parent class
        self.pouch=[]                   #creating empty list
        
        
    def put_in_pouch(self,items):        #items appended to the empty self.pouch() list
        self.pouch.append(items)
        
    def pouch_contents(self):           #defining and displaying all the items added in self.pouch() list
        return self.pouch

class Kangaroo(Marsupial):              #creating sub-class Kangaroo of parent class
    def __init__(self,x,y):              
        super().__init__(x,y)          #extending Marsupial constructor to take coordinates x and y both 
        self.dx = 0                      
        self.dy = 0                       #setting x and y coordinates 
    
    def jump(self,x,y):                 
        self.dx = self.dx + x               #defining jump function to jump the coordinates of Kangaroo as per input 
        self.dy = self.dy + y
    
    def __str__(self):                                                        #overload the _str_ operator 
        
        return ('I am a Kangaroo located at coordinates({},{})'.format(self.dx,self.dy))

In [28]:
k = Kangaroo(0,0)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
print("contents in the list are")
print(k.pouch)                        #printing the content in the pouch list

contents in the list are
['doll', 'firetruck', 'kitten']

In [29]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates(3,0)

Question 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.

>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1
B

In [14]:
def collatz(n):  # defining function collatz that take integer n.
      
    while n != 1: # running statment till n is not equal to 1.
        print(n) #printing value of n 
        
         
        if n % 2 ==0:  #if n is even then deviding n by 2 
            n = n // 2
           
        else:  #if n is odd then multiplying odd with 3 and adding 1.
             n = 3 * n + 1
                
   
    print(n) #printing at the end when n==1

In [15]:
collatz(1)

1

In [16]:
collatz(10)

10
5
16
8
4
2
1

Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [17]:
def binary(n):   #defining function binary and defining int n
    
    if (n<0):    #if n is negative integer than a message is print, telling user to enter a positive integer.
        print("Please enter the positive integer.") 
        
    else:
        
        print(bin(n)[2:])  #using bin method takes single parameter and convert to int to binary
      #output by bin() is printed after [2:] because 0 and 1 values are 0b means output is binary version

In [18]:
binary(0)

0

In [19]:
binary(1)

1

In [20]:
binary(3)

11

In [21]:
binary(9)

1001

Question 6
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [73]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.head =0
        self.indend = ""
    def handle_starttag(self, tag, attrs):
        if tag[:-1]=='h':
            self.head = "type"
    def handle_data(self, data):
        if self.head=="type":
            print(self.indend+ data)
            self.indend+= "    "
            self.head=0

In [74]:
infile = open('w3c.html')
content = infile.read()
infile.close()
headingparser = HeadingParser()
headingparser.feed(content)

W3C Mission
    Principles

Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [33]:
from urllib.parse import urljoin
from html.parser import HTMLParser
from urllib.request import urlopen
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links


def webdir(url,depth,indent):
    if(depth<0):
        return
    print("\t"*indent +url)
    resource = urlopen(url)
    content = resource.read().decode()
    collector = Collector(url)
    collector.feed(content)
    findUrlLst = collector.getLinks()
    
    for visiturl in findUrlLst:
        webdir(visiturl,depth-1,indent+1)

In [34]:
webdir("https://reed.cs.depaul.edu/lperkovic/test1.html",2,0)

https://reed.cs.depaul.edu/lperkovic/test1.html
	http://reed.cs.depaul.edu/lperkovic/test2.html
		http://reed.cs.depaul.edu/lperkovic/test4.html
	https://reed.cs.depaul.edu/lperkovic/test3.html
		https://reed.cs.depaul.edu/lperkovic/test4.html

Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

City Country Season Temperature
(C)
Rainfall
(mm)
Mumbai India Winter 24.8 5.9
Mumbai India Spring 28.4 16.2
Mumbai India Summer 27.9 1549.4
Mumbai India Fall 27.6 346.0
London United Kingdom Winter 4.2 207.7
London United Kingdom Spring 8.3 169.6
London United Kingdom Summer 15.7 157.0
London United Kingdom Fall 10.4 218.5
Cairo Egypt Winter 13.6 16.5
Cairo Egypt Spring 20.7 6.5
Cairo Egypt Summer 27.7 0.1
Cairo Egypt Fall 22.2 4.5

In [67]:
import sqlite3

con = sqlite3.connect('datas')

cur = con.cursor()

cur.execute("CREATE TABLE database_d (City text, Country text, Season text, Temperature dec, Rainfall dec)")

cur.execute("INSERT INTO database_d VALUES ('Dhaka', 'Bangladesh', 'Winter', 30.9, 10.9)")

cur.execute("INSERT INTO database_d VALUES ('Dhaka', 'Bangladesh', 'Spring', 32.9, 19.2)")

cur.execute("INSERT INTO database_d VALUES ('Dhaka', 'Bangladesh', 'Summer', 31.3, 1549.4)")

cur.execute("INSERT INTO database_d VALUES ('Dhaka', 'Bangladesh', 'Fall', 29.6, 433.0)")

cur.execute("INSERT INTO database_d VALUES ('Paris', 'France', 'Winter', 4.2, 207.7)")

cur.execute("INSERT INTO database_d VALUES ('Paris', 'France', 'Spring', 8.3, 169.6)")

cur.execute("INSERT INTO database_d VALUES ('Paris', 'France', 'Summer', 15.7, 157.0)")

cur.execute("INSERT INTO database_d VALUES ('Paris', 'France', 'Fall', 10.4, 218.5)")

cur.execute("INSERT INTO database_d VALUES ('Delhi', 'India', 'Winter', 13.6, 16.5)")

cur.execute("INSERT INTO database_d VALUES ('Delhi', 'India', 'Spring', 20.7, 6.5)")

cur.execute("INSERT INTO database_d VALUES ('Delhi', 'India', 'Summer', 33.8, 1.9)")

cur.execute("INSERT INTO database_d VALUES ('Delhi', 'India', 'Fall', 25.2, 9.8)")

con.commit()
con.close()

In [68]:
import sqlite3
con = sqlite3.connect('datas')
cur = con.cursor()
cur.execute('SELECT Temperature FROM database_d ')

for record in cur:
    print(record)
cur.execute('SELECT DISTINCT City FROM database_d ')

for record in cur:
    print(record)
cur.execute('SELECT * FROM database_d  where Season="Fall"')

for record in cur:
    print(record)
cur.execute('SELECT * FROM database_d  where Country="India"')

for record in cur:
    print(record)
cur.execute('SELECT City,Country FROM database_d  where (Season ="Fall") AND (temperature>20) ORDER BY Temperature DESC')

for record in cur:
    print(record)
cur.execute('SELECT City,Country,Season FROM database_d  where (rainfall>200) AND (rainfall<400)')

for record in cur:
    print(record)
cur.execute('SELECT SUM(Rainfall) FROM database_d  where City="Dhaka"')

Annual_rainfall=cur.fetchall()

print(Annual_rainfall)
cur.execute('SELECT SUM(Rainfall),Season FROM database_d  GROUP BY Season')

for record in cur:
    print(record)

(30.9,)
(32.9,)
(31.3,)
(29.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(33.8,)
(25.2,)
('Dhaka',)
('Paris',)
('Delhi',)
('Dhaka', 'Bangladesh', 'Fall', 29.6, 433)
('Paris', 'France', 'Fall', 10.4, 218.5)
('Delhi', 'India', 'Fall', 25.2, 9.8)
('Delhi', 'India', 'Winter', 13.6, 16.5)
('Delhi', 'India', 'Spring', 20.7, 6.5)
('Delhi', 'India', 'Summer', 33.8, 1.9)
('Delhi', 'India', 'Fall', 25.2, 9.8)
('Dhaka', 'Bangladesh')
('Delhi', 'India')
('Paris', 'France', 'Winter')
('Paris', 'France', 'Fall')
[(2012.5,)]
(661.3, 'Fall')
(195.29999999999998, 'Spring')
(1708.3000000000002, 'Summer')
(235.1, 'Winter')

Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [38]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[a.upper() for a in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [39]:
[a.lower() for a in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [40]:

[len(a) for a in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [41]:

[[a.upper(),a.lower(),len(a)] for a in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [42]:

[a for a in words if len(a) >= 4]

['quick', 'brown', 'jumps', 'over', 'lazy']